{% extends "shop.html" %}
{% block title %}Error 500{% endblock %}
{% block body %}
<div class="axil-product-cart-area axil-section-gap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-8">
        <section>
            <h1>500</h1>
            <h3>Internal Server Error</h3>
            <p> Looks like we made a mistake. Forgive us? <a href="/">Return to Shop</a></p>
        </section>
        </div>
    </div>
</div>
{% endblock %}