{% extends 'shop.html' %}
{% block content %}

        <!-- Start About Area  -->
        <div class="axil-about-area about-style-1 axil-section-gap ">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-4 col-lg-6">
                        <div class="about-thumbnail">
                            <div class="thumbnail">
                                <img src="/./static/images/logo/fox-icon-lg.png" alt="Fox Comics, LLC Logo">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-6">
                        <div class="about-content content-right">

                            <h3 class="title">Welcome to Fox Comics!</h3>
                            <span class="text-heading">The largest online, multi-publisher digital comicbook store.</span>
                            <div class="row">
                                <div class="col-xl-6">
                                    <p>Not sure what to read? That's our bread-and-butter! We have a massive inventory of digital comics ready to instantly deliver. Simply search for characters you want to know more about and dig into their rich history of appearances.</p>
                                </div>
                                <div class="col-xl-6">
                                    <p class="mb--0">Looking for something more? Create an account and manage order history and a list of comics and characters you find interesting. Found something you like? Add those comics to your cart and start reading!</p><br>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End About Area  -->

        <!-- Start About Area  -->
        <div class="about-info-area">
            <div class="container">
                <div class="row row--20">
                    <div class="col-lg-4">
                        <div class="about-info-box">
                            <div class="thumb">
                                <span><i class="far flaticon-magnifying-glass"></i></span>
                            </div>
                            <div class="content">
                                <h6 class="title">Looking for someone?</h6>
                                <p>Begin by searching for a character you want to learn more about!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="about-info-box">
                            <div class="thumb">
                                <span><i class="far fa-shopping-basket"></i></span>
                            </div>
                            <div class="content">
                                <h6 class="title">Something catch your eye?</h6>
                                <p>Take a look at comic details. If it sparks your interest, add it to your cart!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="about-info-box">
                            <div class="thumb">
                                <span><i class="far fa-solid fa-book"></i></span>
                            </div>
                            <div class="content">
                                <h6 class="title">Checkout and start reading!</h6>
                                <p>Add comics to your cart, checkout and receive a digital download instantly!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End About Area  -->

        <!-- End About Area  -->
{% endblock %}