{% extends 'single-product.html' %}

        {% block content %}

        <!-- Start Shop Area  -->
        <div class="axil-single-product-area bg-color-white">
            <div class="single-product-thumb axil-section-gap pb--20 pb_sm--0 bg-vista-white">
                <div class="container">
                    <div class="row row--25">
                        <div class="col-lg-6 mb--40">
                            <div class="h-100">
                                <div class="position-sticky sticky-top">
                                    <div class="row row--10">
                                        <div class="col-6 mb--20">
                                            <div class="single-product-thumbnail axil-product thumbnail-grid">
                                                <div class="thumbnail">
                                                    <img class="img-fluid" src="{{ character.original_url }}" alt="{{ character.name }} Image">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End .col -->
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb--40">
                            <div class="h-100">
                                <div class="position-sticky sticky-top">
                                    <div class="single-product-content">
                                        <div class="inner">
                                            <h2 class="product-title">{{ character.name }}</h2>
                                            
                                            <p class="description">{{ character.deck }}</p>
                                            <small>Total Appearances: {{ character.total_appearances }}</small>

                                            

                                            <!-- Start Product Action Wrapper  -->
                                            <div class="product-action-wrapper d-flex-center">

                                                <!-- Start Product Action  -->
                                                <ul class="product-action d-flex-center mb--0">
                                                    <!-- <li class="add-to-cart"><a href="cart.html" class="axil-btn btn-bg-primary">Add to Cart</a></li> -->
                                                    <form action="/users/characters/{{ character.id }}", method="POST">
                                                        <li class="wishlist"><button class="axil-btn wishlist-btn"><i class="far fa-heart"></i></button></li>
                                                    </form>
                                                </ul>
                                                <!-- End Product Action  -->

                                            </div>
                                            <!-- End Product Action Wrapper  -->

                                            <div class="product-desc-wrapper pt--80 pt_sm--60">
                                                <h4 class="primary-color mb--40 desc-heading">Character Details</h4>
                                                <div class="single-desc mb--30">
                                                    <h5 class="title">Real Name:</h5>
                                                    <p>{{ character.real_name }}</p>
                                                </div>
                                                <div class="single-desc mb--30">
                                                    <h5 class="title">First Appearance:</h5>
                                                    <p>{{ character.first_appear_issue_name }} #{{ character.first_appear_issue_num }}</p>
                                                </div>
                                                <div class="single-desc mb--30">
                                                    <h5 class="title">Publisher:</h5>
                                                    <p>{{ character.publisher_name }}</p>
                                                </div>
                                            </div>
                                            <!-- End .product-desc-wrapper -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Shop Area  -->

        <!-- Start Appearances Area  -->
        <div class="axil-product-area bg-color-white axil-section-gap pb--50 pb_sm--30">
            <div class="container">
                <div class="section-title-wrapper">
                    <h2 class="title">Appears In:</h2>
                </div>
                    <ul>
                    {% for appearance in appearances %}
                        <li><a href="/comic/{{ appearance['id'] }}">{{ appearance['name'] }}</a></li>
                    {% endfor %}
                    </ul>
        {% endblock %}