{% extends 'shop.html' %}
    {% block content %}
        <!-- Start Wishlist Area  -->
        <div class="axil-wishlist-area axil-section-gap">
            <div class="container">
                <div class="product-table-heading">
                    <h4 class="title">Characters</h4>
                </div>
                <div class="table-responsive">
                    <table class="table axil-product-table axil-wishlist-table">
                        <thead>
                            <tr>
                                <th scope="col" class="product-thumbnail">Image</th>
                                <th scope="col" class="product-title">Name</th>
                                <th scope="col" class="product-stock-status">Appearances</th>
                                <th scope="col" class="product-add-cart"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for character in characters %}
                            <tr>
                                <td class="product-thumbnail"><a href="/{{ character.id }}"><img src="{{ character.icon_image_url }}" alt="Digital Product"></a></td>
                                <td class="product-title"><a href="/characters/{{ character.id }}">{{ character.name }}</a></td>
                                <td class="product-stock-status" data-title="Status">{{ character.total_appearances }}</td>
                                {% if g.user %}
                                <form action="/users/characters/{{ character.id }}", method="POST">
                                    <td class="product-add-character"><button class="axil-btn btn-outline">Add To Characters</a></td>
                                </form>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}
        <!-- End Wishlist Area  -->
 