{% extends 'shop.html' %}
{% block title %}{{ comic.name }}{% endblock %}
    <!-- Start Shop Area  -->
    {% block content %}
    <div class="axil-single-product-area bg-color-white">
        <div class="single-product-thumb axil-section-gap pb--20 pb_sm--0 bg-vista-white">
            <div class="container">
                <div class="row row--25">
                    <div class="col-lg-6 mb--40">
                        <div class="h-100">
                            <div class="position-sticky sticky-top">
                                <div class="row row--10">
                                    <div class="col-6 mb--20">
                                        <div class="single-product-thumbnail axil-product thumbnail-grid">
                                            <div class="thumbnail">
                                                <img class="img-fluid" src="{{ comic.cover_img }}" alt="{{ comic.name }} Image">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End .col -->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb--40">
                        <div class="h-100">
                            <div class="position-sticky sticky-top">
                                <div class="single-product-content">
                                    <div class="inner">
                                        <h2 class="product-title">{{ comic.name }}</h2>
                                        <small>Issue #{{ comic.issue_number }}</small>
                                        <span class="price-amount">${{ comic.price }}</span>

                                        <ul class="product-meta">
                                            <li><i class="fal fa-check"></i>In stock</li>
                                            <li><i class="fal fa-check"></i>Digital Delivery</li>
                                        </ul>

                                        <!-- Start Product Action Wrapper  -->
                                        <div class="product-action-wrapper d-flex-center">
                                            <!-- Start Product Action  -->
                                            <ul class="product-action d-flex-center mb--0">
                                                <form action="/cart/{{ comic.id }}/add", method="POST">
                                                    <li class="add-to-cart"><button class="axil-btn btn-bg-primary">Add to Cart</button></li>
                                                </form>
                                                {% if g.user %}
                                                <form action="/users/reading_list/{{ comic.id }}", method="POST">
                                                    <li class="wishlist"><button class="axil-btn wishlist-btn"><i class="far fa-heart"></i></button></li>
                                                </form>
                                                {% endif %}
                                            </ul>
                                            <!-- End Product Action  -->
                                        </div>
                                        <!-- End Product Action Wrapper  -->
                                        <div class="product-desc-wrapper pt--80 pt_sm--60">
                                            <h4 class="primary-color mb--40 desc-heading">Issue Details</h4>
                                            <div class="single-desc mb--30">
                                                <h5 class="title">Description:</h5>
                                                {% if comic.deck == " " %}
                                                    <p class="description">Description Unavailable</p>
                                                {% else %}
                                                    <p class="description">{{ comic.deck }}</p>
                                                {% endif %}
                                            </div>
                                            <div class="single-desc mb--30">
                                                <h5 class="title">Cover Date:</h5>
                                                <p>{{ comic.cover_date }}</p>
                                            </div>
                                        </div>
                                        <!-- End .product-desc-wrapper -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Shop Area  -->
    {% endblock %}