{% extends 'shop.html' %}
{% block title %}Reading List{% endblock %}
{% block content %}
        <!-- Start Wishlist Area  -->
        <div class="axil-wishlist-area axil-section-gap">
            <div class="container">
                <div class="product-table-heading">
                    <h4 class="title">My Reading List</h4>
                </div>
                <div class="table-responsive">
                    <table class="table axil-product-table axil-wishlist-table">
                        <thead>
                            <tr>
                                <th scope="col" class="product-remove"></th>
                                <th scope="col" class="product-thumbnail">Issue</th>
                                <th scope="col" class="product-title">Title</th>
                                <th scope="col" class="product-price">Price</th>
                                <th scope="col" class="product-add-cart"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comic in reading_list %}
                                <tr>
                                    <form action="/users/{{ comic.id }}/remove_comic", method="POST">
                                        <td class="product-remove"><button class="remove-wishlist"><i class="fal fa-times"></i></button></td>
                                    </form>
                                    <td class="product-thumbnail"><a href="/comic/{{ comic.id }}"><img src="{{ comic.cover_img }}" alt="Digital Product"></a></td>
                                    <td class="product-title"><a href="/comic/{{ comic.id }}">{{ comic.name }}</a></td>
                                    <td class="product-price" data-title="Price"><span class="currency-symbol">$</span>{{ comic.price }}</td>
                                    <td class="product-stock-status" data-title="Status">In Stock</td>
                                    <form action="/cart/{{ comic.id }}/add", method="POST">
                                        <td class="product-add-cart"><button class="axil-btn btn-outline">Add to Cart</a></td>
                                    </form>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End Wishlist Area  -->
{% endblock %}
